WcfService_Client/Connected Services/ServiceReference1/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServer.Dto.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServer.Dto.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductsDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductsDto" nillable="true" type="tns:ProductsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductsDto" nillable="true" type="tns:ArrayOfProductsDto" />
  <xs:complexType name="ProductsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityPerUnit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsDto" nillable="true" type="tns:ProductsDto" />
</xs:schema>